* {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}
#cax1 {
    height: 150px;
    width: 75%;
    border: 2px solid rgb(212, 28, 28);
    background-color: rgb(250, 166, 110);
}
#cax2 {
    height: 500px;
    width: 75%;
    border: 2px solid rgb(18, 29, 94);
    background-color: rgb(231, 116, 116);
}
#cax3 {
    height: 150px;
    width: 75%;
    border: 2px solid rgb(212, 28, 28);
    background-color: rgb(250, 166, 110) ;
}
#cax4 {
    height: 824px;
    width: 25%;
    float: right;
    border: 2px solid rgb(215, 253, 198);
    background-color: rgb(240, 165, 165) ;
    margin-top: -170px; 
}
.text1 {
    font-size: 45px;
    text-align: center;
    margin-top: 30px;
} 
.text2 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}   
div p{ 
    padding-top: 15px;
    margin-left: 10px;
}
.text3 {
    font-size: 25px;
    margin-top: 20px;
}
.text4 {
    font-size: 18px;
}